.el-form{
    .el-form-item__label{
        text-align: left;
    }
    .el-form-item.is-required .el-form-item__label::after{
        content: '*';
        color: #f56c6c;
        margin-right: 4px;
        margin-left: 4px;
        position: relative;
        top: 3px;
    }
    .el-form-item.is-required .el-form-item__label::before{
        content: '';
        margin-right: 0px;
    }
}